.Maindonor {
  display:flex;
  /* justify-content: space-around; */
  align-items: center;
  gap:2rem;
  background-color:#ffffff;
  max-width: 30rem;
  width: 100%;
  padding:0.625rem;
  margin-left:20%;
  margin-top:3.125rem;
  border-radius: 1rem;
}


.Button {
  display: flex;
  /* justify-content: center; */
  gap:1rem;
}

.donor-btn{
  display: flex;
  gap: 0.4em;
  border-radius:1rem;
  color:white;
  background:#F25C00;
  border:none;
  padding:0.9rem 0.5rem;
}

.donor-content p {
  margin: 0;

}

.Button {
  margin-top: 1rem;
}

.share-btn {
  display: flex;
  gap:0.3rem;
  border-radius:1rem;
  border:2px solid #F25C00;
  background:white;
  padding :0.8rem 0.2rem;
}

.heart-icon {
  font-size: 2rem;
  width: 10%;
  height: 30%;
  border-radius:50%;
  border:2px solid #fbd6be;;
  background-color: #fbd6be;
   display: flex;
  align-items: center;
  justify-content: center;
  
}

.orange-200{
  border:2px solid #F25C00;
}

.top-icon{
  font-size: 1.8rem;
  width: 40%;
  height: 40px;
  border-radius:50%;
  border:2px solid #fbd6be;
  background-color: #fbd6be;
   display: flex;
  align-items: center;
  justify-content: center;
  padding:1rem;
}


@media (max-width: 480px) {
  .Maindonor {
    width:  calc(100% - 40px); 
    max-width: 100%;
    margin: 2rem 1rem 1rem 1rem;
    padding: 0.5rem 0.2rem;   
    box-sizing: border-box;
  
  }

  .heart-icon {
  width: 12%;
  height: 25%;
  font-size: 1.5rem;
  align-self: flex-start;
  margin-top:2rem;   
}

.share-btn{
  padding:0.8rem 0.2rem;
}
 
}

@media (min-width: 481px) and (max-width: 768px) {
  .Maindonor {
    max-width: 60%;
    width: auto;
    margin-left: 0;
    margin: 2rem auto;
    font-size: 1.2rem;
  }
  .donor-btn {
    font-size: 0.9rem;
    padding:0.625rem 1.25rem;
  }

  .share-btn {
    font-size: 0.8rem;
    padding:0.625rem 1.25rem;
  }
}