.Wrapper{
  background-color: #1F2231;
  color: white;
  position: relative;
}



.footer-container {
  display:flex;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 100%;
  /* border:2px solid red; */
  padding-top: 2rem;
  padding-bottom: 2rem;

}
.middle {
  display:flex;
  flex-direction: column;
  gap:1rem;
  /* text-align: center; */
  color: white;
}

.middle a {
  text-decoration: none;
  color: white;
}

.PhoneNo, .Email{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  gap:1rem;
  /* border:2px solid black; */
}

.Location{
  display:flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap:1rem;
  /* border:2px solid black; */
}

.social-icons a {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  width: 10%;
  height: 2rem;
  border-radius: 50%;
  color: white;
  margin-top:1rem;
}

.social-icons {
  display: flex;
  flex-direction: row;  /* yeh add karo */
  gap: 0.4rem;
}

.social-icons a:nth-child(1) { background-color: #1877F2; }
.social-icons a:nth-child(2) { background-color: #E4405F; } 
.social-icons a:nth-child(3) { background-color: #0A66C2; } 
.social-icons a:nth-child(4) { background-color: #1DA1F2; }
.social-icons a:nth-child(5) { background-color: #FF0000; } 


.contacticon {
  font-size: 2rem;
  color: white; 
  border-radius:50%;
  background-color:#F36811;
  /* height: ; */
  /* width:40px; */
  width: 13%;
  height: 10%;
  padding:0.8rem;
  margin-top:1rem;
}

.Contact-div {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  gap:0.9rem;
}

.second-section p {
  text-align: center;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
}

.footer-first p {
  color: white;
  padding-top: 1rem;
}

.right-section {
  color: white;
}

.right-section a {
  color: white;
  text-decoration: none;
}

.whatsapp-float{
  color: white;
  border-radius:50%;
  background-color:#21D764;
  position: fixed;
  bottom: 1.8rem;
  right: 20px;
}

@media (max-width: 480px) {
  .footer-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.9rem;
    padding-left: 2rem;
    padding-right: 2rem;
    box-sizing: border-box;
  }

  .footer-first,
  .middle,
  .right-section {
    width: 100%;
  }

  .Location p {
    max-width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .footer-container {
    padding-left: 2rem;
    padding-right: 1.9rem;
    box-sizing: border-box;
    
  }

   .footer-first p:nth-of-type(2),
  .footer-first p:nth-of-type(3) {
    display: inline;
  }

  .footer-first p:nth-of-type(3) {
    margin-left: 0.2rem;
  }

   .footer-first p:first-of-type {
    margin-bottom: 1rem;
  }

  .social-icons {
    margin-top: 1rem;
  }

  
  .middle h3,
  .right-section h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: white;
  }
}