.thumbnail-img {
  width: 5rem;
  height:5.625rem;
  object-fit: cover;
  border-radius: 1rem;
  cursor: pointer;
}

.campaign-container {
  flex: 1;  /* bacha hua saara space le lega */
}

.second-heading{
  display:flex;
  gap:1.5rem;
  align-items:center;
  margin-bottom:1rem;
}

.verified, .Taxbenefit{
  display:flex;
  flex-direction:row;
  align-items:center;
  gap:0.9rem;
  
}

.display-img{
  width:100%;
  height:20rem;  
  object-fit:cover;
  border-radius:1rem;

}

.main-image{
  display:flex;
  position: relative;  
  width: fit-content;
  width: 100%; 
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 2.5rem;
  height: 2rem;
  font-size: 1.4rem;
  cursor: pointer;
  z-index: 1;
}

.arrow.left {
  left: 1rem;
}

.arrow.right {
  right: 1rem;
}

.pagination {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 0.4rem 1rem;
  border-radius: 2rem;
  font-size: 1rem;
}

.carousel-thumbnails {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
  width: 100%;  
}


@media (max-width: 767px) {
  .campaign-container {
    width: 100%;
    box-sizing: border-box;
    padding: 0 1rem;
  }

  h1 {
    font-size: 1.4rem;
    margin: 0.5rem 0;
  }

  .display-img {
    height: 15.625rem;
  }

  .thumbnail-img {
  width: 3.75rem;   
  height: 4.375rem; 
}

  .carousel-thumbnails {
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  .campaign-container {
    flex: 3;
    min-width: 0;
  }
}
