.Product-container {
  max-width: 37.5rem;
  width: 100%;
  /* background-color: #95d40d; */
  padding: 0.3125rem;
  position: relative;
   
}


.section-heading {
  display:flex;
  gap:0.9rem;
  align-items: center;
  /* max-width: 25rem; */
  margin-top: 2rem;
  margin-left: 40%;
  margin-right: auto;
}

.product-description {
  display:flex;
  /* gap:0.8rem; */
  align-items: center;
  width: 100%;
  margin-top:1rem;
  margin-left: 8rem;
  background-color: #ffffff;
   border-radius: 1rem;
 

  /* justify-content: flex-start; */
}

/* .amount {
  display: flex;
  gap:0.8rem;
} */

.line {
  flex: 1;
  height: 1rem;
  background-color: #F25C00;
}

.dot {
   width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #F25C00;
}


.main-img {
   flex: 1;
   position: relative;
  display: inline-block;
}
.main-img img {
  width: 60%;
   height: 12.5rem; 
  object-fit: contain;
 
}

.badge{
  position: absolute;
  top:1rem;
  left:1rem;
  display: flex;
  align-items: center;
  gap: 0.1rem;
   background: white;
  padding: 0.9rem 0.4rem;
  border-radius: 1rem;
  font-size: 0.75rem;
  color: #F25C00;
}

.product-content {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  padding:0.9rem;
  flex: 1;
  color: black;
  margin-top: -10%;
  margin-left: -10%;
}
 

.amount {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

.product-content h3 {
  margin: 0;
}

.product-content p {
  margin: 0;
}

.add-btn {
  background-color: #F25C00;
  color: white;
  border: none;
  padding: 0.9rem 1.5rem;
  border-radius: 2rem;
  cursor: pointer;
}

@media (max-width: 480px) {

    .Product-container {
    width: auto;
    margin: 0 1.5rem;
    box-sizing: border-box;
  }


  .section-heading {
    margin-left: 0;
    max-width: 100%;
    justify-content: center;
  }

  .product-description {
    margin-left: 0;
    flex-direction: row;
    align-items: flex-start;
  }

  .main-img img {
    width: 100%;
    height: 12.5rem;
     object-fit: contain;
  }

  .product-content {
    margin-left: 0;
    margin-top: 0;
    flex: 1;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .Product-container {
    max-width: 80%;
    margin: 0 auto;
  }

  .section-heading {
    margin-left: 10%;
    margin-bottom:5%;
    max-width: 80%;
    justify-content: center;
  }

  .product-description {
    margin-left: 0;
    justify-content: center;
  }

  .main-img img{
    height: auto;
    width: 17.5rem;  
   max-height: 12.5rem;  
    object-fit:contain;
  }

  .product-content h3{
    font-size:1.7rem;
  }
  .product-content p{
    font-size:1.25rem;
  }

  /* .amount{
    gap:10px;
  } */

  .add-btn{
    padding: 1rem 2rem;
  }
}
